/* Fondo semitransparente que cubre toda la pantalla */
.software-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor del formulario */
.software-form-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px; /* Ancho máximo del formulario */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Sombra alrededor del formulario */
    position: relative;
}

/* Botón de cerrar (X) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: red; /* Cambia a rojo al pasar el mouse por encima */
}

/* Título del formulario */
.software-form-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas */
.software-form-content label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
.software-form-content input[type="text"],
.software-form-content input[type="date"],
.software-form-content input[type="password"],
.software-form-content input[type="email"],
.software-form-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilo del botón de guardar */
.software-form-content button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.software-form-content button:hover {
    background-color: #004494;
}

/* Estilo para la lista de equipos */
.software-form-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px; /* Limita la altura de la lista para evitar que crezca demasiado */
    overflow-y: auto; /* Añade un scroll si la lista es muy larga */
}

.software-form-content ul li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.software-form-content ul li.selected {
    background-color: #0056b3;
    color: white;
}

/* Barra de búsqueda y contenedor */
.software-form-content .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.software-form-content .search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.software-form-content .search-container svg {
    color: #333;
}
